.panel{
	width: 500px;
	margin: 150px auto;
}
.panel-body{
	margin: 0 20px;
}
.input-group{
	margin: 20px 0;
}
.btn{
	width: 100%;
}
.bottom{
	margin: 20px 0;
}
.col-sm-2{
	width: 20%;
}
.col-sm-10{
	width: 80%;
}
.col-sm-7{
	width: 50%;
}
.col-sm-3{
	width: 30%;
}

/*电影首页*/
.container{
	margin-top:60px;
}
h2{
	margin:30px 0;
}
.nav-tabs.nav-justified > .active > a,
 .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
 	background-color: #FFFF99;
 }
 /*电影详情*/
 .media-title{
 	font-size: 12px;
 	font-weight: bold;
 	margin: 15px 20px;
 	text-align: right;
 	width: 50px;
 	display: inline-block;
 }
 .btn-play{
 	width: 20%;
 	margin: 30px 30px;
 }
 /*电影添加页*/
 .add-wrap{
 	margin: 30px;
 }
 .submit{
 	width: 50%;
 	margin-left: 350px;
 }
 /*电影列表页面*/
 .add{
 	width: 9%;
 	margin-bottom: 30px;
 }
 .delete{
 	margin-bottom: 10px;
 }
 .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
 	vertical-align:middle;
 }
 /*账户设置页面--------------------------*/

 /*左侧导航*/
 .container-fluid{
 	margin: 0 30px;
 }
 .navbar-nav li{
 	margin: 0 30px;
 }
.sidebar{
	background-color: #ddd;
	position: fixed;
	top:51px;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
}
.nav-sidebar{
	margin: 20px -15px 20px -15px;
	text-indent: 15%;
}
.nav-sidebar > .active > a,
.nav-sidebar > li > a:hover,
.nav-sidebar > li> a:focus {
    color: #fff;
    background-color: #428bca;
}
/*右侧*/
.content{
	width: 80%;
	margin: 50px auto;
}
/*音乐列表*/
input[type="checkbox"]{
    margin: 4px 20px 4px 0;
}